table,th,td{
    border: 1px solid black;
}
table {
    width: 50%;
   
}
th{
    font-size: 20px;
    height: 50px;
    background-color: cornsilk;
}
td{
    padding: 10px;
    text-align: center;
}
.content{
    height: 300px;
    width: 50%;
    text-align: left;
}
.pro{
    text-align: left;
}